 .input{
    width: 70%;
    height: 2.4rem;
    border: none;
    border-radius: 15px 0 0 15px;
    padding-left: 15px;
    outline: none;
}
.inputLabel .label{
    min-width:30% ;
    height: 2.4rem;
    background-color:#FCDD06 ;
    border-radius: 0 15px 15px 0;
}
.inputLabel{
    width: 100%;
}