.LoginSignup{
        height: 85vh;
    justify-content: space-evenly;
}

.LoginSignupContains{
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    justify-content: space-evenly;
    width: 30%;
}
.LoginSignupContains > h1{
    color: #242424;
}
.LoginSignupForm{
    flex-direction: column;
    align-items: flex-start;
    height: 65%;
    width: 100%;
}
.LoginSignupForm > .inputLabel{
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    /* border-radius: 15px; */
    height: 50%;
}
.LoginSignupForm > .inputLabel input ,.LoginSignupForm > .inputLabel label{
    border-radius:0px;
    width: 100%;
}
.LoginSignupForm > .inputLabel input {
    border: 1px solid #242424;
    border-radius: 6px;
}
.LoginSignupForm > .inputLabel label{
    background: none;
    width: 70%;
    align-items: flex-start;
    justify-content: flex-start;
}
.LoginSignupForm > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 1rem;
}
.newInpu{
    width: 100%;
}
.newInpu >label{
    font-size: 1.2rem;
    color: #707070;
}
.LoginSignup > img{
    width: 50%;
    height: 90%;
}
.loginAcc {
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
    text-align: center;
}
.loginAcc .h1{
    color: #707070;
    font-size: 1rem;
}