.orderDetailsPlace{
    flex-direction: column;
    width: 25%;
}
.orderDetailsPlace > .button{
    width: 75%;
    margin-top: 1rem;
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
}
.AddressPlace{
    flex-direction: column;
    height: 100%;
    background-color: #F2F2F2;
    padding: 1rem;
    align-items: flex-start;
    border-radius: 15px;
    width:70%;
}
.AddressPlace .orderCard{
    width: 100%;
}
.John-rose{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 10rem;
}
.John-rose p{
    width: 70%;
}
.Review-Order .container .payment2Place span{
    background-color: #FCDD06;
}
.Review-Order{
    height: 41rem;
    flex-direction: column;
}
.Review-Order .container h1{
    color: #242424;
    font-size: 2rem;
}
.Review-Order .container{
    height: 90%;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}
.section-container{
    flex-direction: column;
    /* align-self: flex-start; */
    align-items: flex-start;

}
.Review-Order .container .shipping{
    width: 50%;
    justify-content: space-between;
}
.Review-Order .container .shipping hr{
    width: 15%;
}
.Review-Order .container .payment h1 ,.Review-Order .container .payment2Place h1{
    font-size: 1rem;
}
.Review-Order .container .payment2Place h1,.Review-Order .container .payment h1{
    width: 80%;
}
.Review-Order .container .payment2Place ,.Review-Order .container .payment {
    width: 40%;
    justify-content: space-between;
}
.Review-Order .container .payment2Place span ,.Review-Order .container .payment span{
    border: 1px solid black;
    width: 2rem;
    color: white;
    text-align: center;
}
.Review-Order .container .payment span{
    background-color: #FCDD06;
}
.details{
    margin-top: 2rem;
    align-items: flex-start;
    height: 85%;
    justify-content: space-between;
}
.orderDetailsPlace{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 15px;
}
.sub{
    width: 100%;
    height: 10rem;
}
@media only screen and (max-width:600px) {
    .AddressPlace{
        width: 100%;
        height: 74%;
    }
    .orderDetailsPlace{
        width: 100%;
    }
}
@media (min-width:600px) and (max-width:900px) {
    .AddressPlace{
        width: 100%;
        height: 65%;
    }
    .orderDetailsPlace{
        width: 100%;
    }
    
}